
body
{
background-color: #FFFFFF;
}

#container{
	width: 80%;

}
.header{
	background-color:#2A4B7C;
	display: flex;
	padding: 1%;


}
h{
	text-transform: uppercase;
	font-size: 30px;
	font-family: times;
	text-shadow: 2px 2px 2px #aaaaaa;
}

.title{
	width: 36%;
	font-family: sans-serif;
	color: white;
	padding: 1%;
	padding-left: 4%;
}
.nav-bar{
	width: 60%;

	
}


.nav-bar nav ul li{
	float: right;
	list-style: none;
	display: flex;
	margin-left: 2%;



}
.nav-bar nav ul li a {

	text-decoration: none;
	color: white;
	padding: 5px;
	text-align: center;
	border:1px  double white;
	border-radius: 5%;
	box-shadow: 2px 2px 2px #FFFFFF;
}
.nav-bar nav ul li :hover{
	background-color: #45a049;
}

.section1{
	color: white;
	display: flex;
}
.img-slider{
	width: 100%;
}
.img-slider img{
	width: 100%;
	height: 600px;

}
.body{
	text-align: center;
	background-color:#33b5e5;
	color:white;
	font-family: fantasy;
	width: 96%;
	padding: 2%;
}
.body h3{
	color:white;
	text-decoration: underline;

}
.body img{
	border:1px double white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 12px 5px 20px #aaaaaa;
}
/*css for contact*/
legend{
 	background-color: #000;
 	color: white;
 	padding: 1%;
 
 }
 .form{
 	width: 96%;
 	background-color: #f2f2f2;
 	border-radius: 5px;
 	padding: 2%;
 }

 input[type=text], select{
 	width: 100%;
 	padding: 12px 20px;
 	display: inline-block;
 	border-radius: 4px;
 	border:1px solid #ccc;
 	box-sizing: border-box;
 } 
 input[type=submit]{
 	width: 15%;
 	background-color: #4CAF50;
 	color: white;
 	border: none;
 	padding: 1%;
 	border-radius: 4px;
 	cursor: pointer;
 }
 input[type=submit]:hover{
 	background-color: #45a049;
 }
 /* css for gallery*/
 .container{
 	background-color: #444444;
 	padding: 1%;
 	text-align: center;

 }
 .container p{
 	color:white;
 	font-size: 20px;
 	font-family: sans-serif;
 }

 .grid-gallery{
 	display: grid;
 	grid-template-columns: auto auto auto auto;
 	background-color: white;
 	grid-gap: 10px;

 }
 .grid-item{
 	border: 1px solid black;
 	text-align: center;
 }
 .grid-item img{
 	width: 90%
 }
footer{
		background-color: #0099cc;
		display: flex;
		padding: 1%;
		color: white;
		box-shadow: 1px 10px 5px #aaaaaa;
}
footer .contact{
	width: 50%;
	padding-left: 1%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
footer .social{
	width: 20%;
}
/*icons for social media*/
.fa{
	padding: 2px;
	width: 15px;
	height: 15px;
	font-size: 10px;
	text-align: center;
}
.fa-facebook{
	background: #3B5998;
	color: white;
}
.fa-twitter{
	background: #55ACEE;
	color: white;
}
.fa-instagram{
	background: #cb2027;
	color: white;
}
footer .copyright{
	width: 30%;
}

@media only screen and (max-width: 600px){
	.header{
		flex-direction: row;
	}
	.title .nav-bar{
		width: 100%

	}
	.nav-bar nav ul li {
		flex-direction: column;
}
	.section1{
		flex-direction:column;
	}
	.img-slider {
		width: 100%;

	}
	.img-slider img{
		width: 100%;
		height: 200px;
	}
	.body{
		width: 100%;
	}
	.grid-gallery{
	grid-template-columns: auto;
	}
	.grid-item{
		width: 100%;
	}
	footer{
		flex-direction: column;
	}
}